@{
    ViewBag.Title = "Sobre";
}
<h3 class="page-header text-primary">@ViewBag.Message</h3>

<div>
    <p>Praesent mauris ante, elementum et, bibendum at, posuere sit amet, nibh. Duis tincidunt lectus quis dui viverra vestibulum. </p>
    <p>Suspendisse vulputate aliquam dui. Nulla elementum dui ut augue.</p>
    <p> Aliquam vehicula mi at mauris. Maecenas placerat, nisl at consequat rhoncus, sem nunc gravida justo, quis eleifend arcu velit quis lacus.</p>
</div>