@{
    ViewBag.Title = "Sobre";
}
<h3 class="page-header text-primary" style="text-align:center">@ViewBag.Message</h3>
<div style="margin-left:20%;width:65%;margin-top:3%">
    <p>Praesent mauris ante, elementum et, bibendum at, posuere sit amet, nibh. Duis tincidunt lectus quis dui viverra vestibulum. </p>
    <p>Suspendisse vulputate aliquam dui. Nulla elementum dui ut augue.</p>
    <p> Aliquam vehicula mi at mauris. Maecenas placerat, nisl at consequat rhoncus, sem nunc gravida justo, quis eleifend arcu velit quis lacus.</p>
</div>