@{
    ViewBag.Title = "Contactos";
}
<div style="margin-left:10%;width:65%;margin-top:3%">
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>
    <address>
        <strong>Ricardo António:</strong>aluno18774@ipt.pt<br />
    </address>
</div>