@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <p style="text-align:center;color:#428bca;font-family:Arial;font-size:30px;">Perguntas e Respostas sobre Hóquei - PeRsH</p>
    <p><p class="glyphicon glyphicon-arrow-right"></p> Visualiza os vários temas que existem com várias perguntas e curiosidades sobre o hóquei em patins.</p>
    <p><p class="glyphicon glyphicon-arrow-right"></p> Cria várias perguntas ou responde às questões dos outros utilizadores.</p>
    <p><p class="glyphicon glyphicon-arrow-right"></p> Avalia as várias perguntas ou respostas.</p>
    <p><p class="glyphicon glyphicon-arrow-right"></p> Reporta as perguntas ou repostas que não sejam de caracter informativo.</p>
    <br />
    <button class="btn btn-primary btn-lg"style="margin-left:30%">Visitar-nos <p class="glyphicon glyphicon-play"></p></button>
    <button class="btn btn-primary btn-lg" style="margin-left:5%">Registar <p class="glyphicon glyphicon-hand-up"></p></button>
</div>
<br />
<footer>
    <p style="color:#428bca;font-family:Arial;font-size:20px;">&copy; @DateTime.Now.Year - PeRsH</p>
</footer>