
@model Tuple<TrabFinal___PeRsH.Models.ApplicationUser, TrabFinal___PeRsH.Models.HomeViewModel>
@{

}

<div class="container">
    <div class="row">
        <div class="col-lg-3">
            <img class="img-circle" src="~/Avatars/@Model.Item1.Avatar" />
        </div>
    </div>
</div>


@using (Html.BeginForm("Perfil", "Manage", FormMethod.Post, new { enctype="multipart/form-data" }))
{
    <input type="file" name="file"/>
        <button type="submit">submeter</button>
}