@model TrabFinal___PeRsH.Models.Temas

@{
    ViewBag.Title = "Apagar";
}

<h2>Apagar</h2>

<h3>De certeza que quer apagar este Tema?</h3>
<div>
    <h4>Temas</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Etiqueta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Etiqueta)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Apagar" class="btn btn-default" /> |
            @Html.ActionLink("Voltar aos Temas", "Index")
        </div>
    }
</div>
