@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right"}))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Olá " + Session["user"] + "!", "Perfil", "Manage", new {  nick = Session["user"] }, htmlAttributes: new { title = "Manage", @style = "color:white" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()" style="color:white">Log off</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Registar", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @style = "color:white;font-family:Calibri;font-size:15px" })</li>
        <li>@Html.ActionLink("Sign In", "Login", "Account", null, htmlAttributes: new { id = "loginLink", @style = "color:white;font-family:Calibri;font-size:15px" })</li>
    </ul>
}
